.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    background-color: white;
    height: 88vh;
    border-radius: 25px;
}

.imageContainer {
    margin-top: 1rem;
    height: 20rem;
    cursor: pointer;
}

.image{
    height: 100%;
}
